<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a1">
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.МобилкиЛаба1"

        android:requestLegacyExternalStorage="true">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity"/>
        <activity android:name=".TextViewActivity"/>
        <activity android:name=".ImageViewActivity"/>
        <activity android:name=".FragmentActivity"/>
        <activity android:name=".SQLActivity"/>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".coffee.HTTPActivity"/>

        <activity android:name=".calorie_counter.EatActivity"/>
        <activity android:name=".calorie_counter.CalculateEatCalories"/>
        <activity android:name=".calorie_counter.CalculateMoveCalories"/>
        <activity android:name=".calorie_counter.CalorieActivity"/>
        <activity android:name=".calorie_counter.GetStart"/>
        <activity android:name=".calorie_counter.HistoryController"/>
        <activity android:name=".calorie_counter.InputMove"/>
        <activity android:name=".calorie_counter.MoveActivity"/>
        <activity android:name=".calorie_counter.OverviewActivity"/>
        <activity android:name=".calorie_counter.InputEat"/>
        <activity android:name=".calorie_counter.CalorieChooseDate"/>
        <activity android:name=".calorie_counter.ListActivity"/>



    </application>



</manifest>